@use '../../styles/mixin.scss' as *;
@use '../../styles/variables.scss' as *;

.registerWrapper {
	@include flex-container(column, 0.5);
	@include content-container();

	.highlighted {
		color: red;
		font-weight: bold;
	}

	.link-wrapper {
		width: 100%;
		display: flex;
		justify-content: space-around;

		.link {
			color: $main-color;
			font-weight: 600;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
