@use '../../styles/mixin.scss' as *;
@use '../../styles/variables.scss' as *;

.loginWrapper {
	@include flex-container(column, 1);
	@include content-container();

	.link-wrapper {
		width: 100%;
		display: flex;
		justify-content: space-around;

		.link {
			color: $main-color;
			font-weight: 600;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
