@use '../../styles/variables.scss' as *;
@use '../../styles/mixin.scss' as *;

.HomePage {
	@include flex-container(column, 3);
	height: 100%;
	max-height: 26em;
	align-items: start;
	justify-content: space-evenly;

	padding: 4em;
	border: 2px solid $borders-color;
	border-radius: 20px;

	.main-title {
		font-weight: bold;
		font-size: 5em;
	}

	.btn {
		width: 20%;
	}
}

.lastTasks {
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}
