@use '../../../styles/variables.scss' as *;
@use '../../../styles/mixin.scss' as *;

.task {
	@include flex-container(row, 1);
	padding: 1em;
	border: 3px solid $borders-color;
	border-radius: 30px;
	align-items: center;
	justify-content: space-between;
	transition: transform 0.4s ease;
	height: 12em;

	&:hover {
		transform: scale(1.05);
	}

	input {
		position: absolute;
		opacity: 0;
		z-index: -1;

		&:checked + .custom-checkbox {
			background-color: $main-color;
		}

		&:checked ~ .taskText {
			text-decoration: line-through;
		}
	}

	.custom-checkbox {
		cursor: pointer;
		min-width: 16px;
		height: 16px;
		border: 2px solid $borders-color;
		border-radius: 50%;
	}

	.taskText {
		width: 100%;
		height: 100%;
		overflow-y: auto;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	.btnsWrapper {
		display: flex;
		flex-direction: column;
		gap: 1em;
		height: 100%;
		justify-content: space-between;

		.taskBtn {
			width: 32px;
			height: 32px;
			background-color: rgba(88, 88, 88, 0.1);
			border: none;
			border-radius: 6px;
			transition: transform 0.2s ease;
			display: flex;
			align-items: center;
			justify-content: center;

			&:hover {
				transform: scale(1.1);
			}
		}
	}
}
