@use './styles/mixin.scss' as *;
@use './styles/variables.scss' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

button {
	cursor: pointer;
}

a {
	text-decoration: none;
}

.container {
	display: flex;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	min-height: 100vh;
	background-color: $background-color;
}

.title {
	font-size: 2.5em;
	text-align: center;
}
